.form {
    padding: 10px;
    background-color: aqua;
    width: 20vw;
    height: 100vh
}

.label {
    margin-top: 10px;
}

body {
    margin: 0px;
}

#yes, #no {
    margin: 5px;
}

#add {
    margin-top: 10px;
}

.read {
    margin-bottom: 0px;
}