.form {
    padding: 10px;
    background-color: teal;
    width: 20vw;
    height: 100vh
}

.label {
    margin-top: 10px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: row
}

#yes, #no {
    margin: 5px;
}

#add {
    margin-top: 10px;
}

.read {
    margin-bottom: 0px;
}

table, th, td {
    border: 1px solid black;
    gap: 0px;
    height: 20px
}

table {
    width: 100%;
    border-collapse: collapse;
}

body {
    background-color: salmon;
}